PORT=3000
DATABASE_URL="postgresql://postgres:Falcusmedialtd@234@localhost:5432/chatmagal?schema=public"
REDIS_URL="redis://localhost:6379"

# NVIDIA NIM AI Conversational Assistant Keys
NVIDIA_API_KEY=YOUR_NVIDIA_API_KEY_HERE
NVIDIA_MODEL=meta/llama-3.1-70b-instruct

# Meta API Configuration
META_APP_ID=1199077289098034
META_APP_SECRET=e68e605a129c7385b4d51bafecfcf869
META_WEBHOOK_VERIFY_TOKEN=my_verify_token
META_SYSTEM_USER_TOKEN=EAARCjeZCfZBzIBRFHE5pQup6uNSquMK81O5a5tI9MQAI6tlbxIuhplMUMuKgMM8YmaJaPX4Cjak4qENLZCeACFyX1tBxZAI0e87hspg8mXISeyoTGGyZB2zZCdznfyCKYC7XX99OybyFuw1RrnZCPfXtCWPBkv86yi29ZA4dPRDJi7ZBZBpycN0WCKZBRVZBhc37sH6wZAwZDZD
META_CONFIG_ID=1660089798568100
